nav ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 2rem;
    color: greenyellow;
}

nav ul{
    display: flex;
    justify-content: center;
    color: greenyellow;
    margin: 0;
}
nav li a{
    text-decoration: none;
    color: #fff;
}

nav{
    height: 10vh;
    font-size: 25px;
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}